{% extends 'ausers/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}

{% block css %}
    <link rel="stylesheet" href="{% static 'progame/css/login.css' %}">
{% endblock %}

{% block title %}Entrar - ProGame{% endblock %}

{% block content %}
    <h3 class="titulos mb-4">
        Seja bem vindo!
    </h3>

    <div>
        <form action="" method="post" id="login-form">
            {% csrf_token %}
            
            {{ form|crispy }}
            <div>
                <a href="{% url 'account_reset_password' %}">Esqueci minha senha</a>
            </div>
            
            <textarea name="g-recaptcha-response" hidden id="recaptcha"></textarea>
            <button class="btn btn-block btn-padrao mt-4" type="submit">
                Entrar
            </button>
            
            
            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">ou</span>
            </div>
            <a href="{% provider_login_url "google" %}"
            class="btn btn-padrao-2 btn-block google">
                <i class="fab fa-google mr-2 text-danger"></i>
                Entrar com a conta do Google
            </a>
        </form>
    </div>

    <div class="text-center mt-4">
        Novo por aqui? <a href="{% url 'ausers:cadastro' %}">Inscreva-se</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
    <script>
        grecaptcha.ready(function() {
            $('#login-form').submit(function(e){
                let form = this;
                e.preventDefault();

                grecaptcha.execute('{{ recaptcha_site_key }}', {action: ''}).then(function(token) {
                    $('#recaptcha').val(token);
                    form.submit()
                });
            })
        });
    </script>
{% endblock %}