{% load static %}
<!-- Primary Meta Tags -->
<meta name="title" content="{% block meta-title %}ProGame{% endblock %}">
<meta name="description" content="{% block description %}Plataforma virtual de aprendizagem de programação gamificada totalmente gratuita.{% endblock %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://progame.pythonanywhere.com">
<meta property="og:title" content="{% block meta-og-title %}ProGame{% endblock %}">
<meta property="og:description" content="{% block og-description %}Plataforma virtual de aprendizagem de programação gamificada totalmente gratuita.{% endblock %}">
<meta property="og:image" content="{% static 'progame/img/og-logo.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://progame.pythonanywhere.com">
<meta property="twitter:title" content="{% block meta-twitter-title %}ProGame{% endblock %}">

<meta property="twitter:description" content="{% block twitter-description %}Plataforma virtual de aprendizagem de programação gamificada totalmente gratuita.{% endblock %}">

<meta property="twitter:image" content="{% static 'progame/img/og-logo.png' %}">