{% load static %}

<!-- Bootstrap -->
<script src="{% static 'progame/js/distr/popper_.min.js' %}"></script>
<script src="{% static 'progame/js/distr/jquery.min.js' %}"></script>
<script src="{% static 'progame/js/distr/bootstrap_.min.js' %}"></script>

<script src="{% static 'progame/js/distr/bootstrap-tourist.js' %}"></script>
<script src="{% static 'progame/js/tour_site.js' %}"></script>

<script src="{% static 'progame/js/distr/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'progame/js/tooltip_config.js' %}"></script>
<script src="{% static 'progame/js/distr/tata.js' %}"></script>
<script src="{% static 'progame/js/distr/clipboard.min.js' %}"></script>
<script src="{% static 'progame/js/tooltip_copy_config.js' %}"></script>
<script src="{% static 'progame/js/distr/jquery.mask.js' %}"></script>

{# Selectpicker #}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>#}

{# SweetAlert2 #}
<script src="{% static 'core/js/sweetalert2@9.js' %}"></script>
<script src="{% static 'core/js/polyfill.min.js' %}"></script>

<script src="{% static 'core/js/utils.js' %}"></script>


{#{% with path='progame/img/badges/'|add:badge|add:".png" %}#}
{#    <img src="{% static path %}" alt="{{ badge }}">#}
{#{% endwith %}#}


{# Adicionar na página quando for utilizar croppie #}
{#<script src="{% static 'progame/js/distr/croppie.js' %}"></script>#}