<div class="modal fade bd-example-modal-lg" id="codigo-modal" tabindex="-1" role="dialog" aria-labelledby="codigo-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center pt-3 pb-4 px-4">
                <div class="mb-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1 class="codigo-maximizado">{{ turma.codigo }}</h1>
            </div>
        </div>
    </div>
</div>